<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link para acceder a demas carpetas con estilos -->
  <link rel="apple-touch-icon" href="../../static/img/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
  <link rel="stylesheet" href="../../static/css/Style1.css"> 
<title>Contactanos</title>
</head>
<body>
  <!-- Inicio de pagina -->
    <header>
      <!-- Encabezado -->
<h1>Contactanos</h1>
  </header>

  <!-- Inicio de campos de texto del formulario -->
  <div id='browser'>
    <div id='browser-bar'>
      <div class='circles'></div>
      <div class='circles'></div>
      <div class='circles'></div>
      <p>Contactanos</p>
      <span class='arrow entypo-resize-full'></span>
    </div>
    <!-- Fin de los campos de texto -->

    <!-- Mapa  -->
    <div id='content'>
      <div id='center'>
        <div id='map'>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.0593923491633!2d-74.09692363050786!3d4.728748636243206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84ea4667cbef%3A0x44dff673b3e83b5c!2sCl%20129c%20%2398a-2%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1693321784802!5m2!1ses-419!2sco"
          width="819" height="400" style="border:0;" allowfullscreen="" loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class='map-locator'>
            <!-- Espacio de localizacion -->
            <div class='tooltip'>
              <ul>
                <li>
                  <span class='entypo-location'></span>
                  <span class='selectedLocation'>Suba Rincón</span>
                </li>
                <li>
                  <span class='entypo-mail'></span>
                  <a href='#'>fabriautomaticas@hotmail.com</a>
                </li>
                <li>
                  <span class='entypo-phone'></span>
                  315-300-9936
                </li>
              </ul>
            </div>
          </div>
          <div class='zoom'></div>
        </div>
        <ul id='location-bar'>
          <li>
            <a class='location' data-location='Israel' href='https://f.cl.ly/items/452R3S1440221Z3m372j/israel.png'>Colombia</a>
          </li>
          <li>
            <a class='location' data-location='USA' href='https://f.cl.ly/items/0n0o01382l0p1u271D43/usa.png'>Localidad 11</a>
          </li>
          <li>
            <a class='location' data-location='The Netherlands' href='https://f.cl.ly/items/0g0l283X3h1T3H270V0A/netherlands.png'>Suba Rincón</a>
          </li>
          <li>
            <a class='location' data-location='Singapore' href='https://f.cl.ly/items/1i2Y262H020X141R3h0k/singapore.png'>Lagos de Suba</a>
          </li>
        </ul>
      </div>
      <!-- Fin del espacio -->
      <!-- Contactanos -->
      <div id='right'>
        <p>Conectate con nosotros</p>
        <div id='social'>
          <a class='social'>
            <span class='entypo-facebook'></span>
          </a>
          <a class='social'>
            <span class='entypo-twitter'></span>
          </a>
          <a class='social'>
            <span class='entypo-linkedin'></span>
          </a>
          <a class='social'>
            <span class='entypo-gplus'></span>
          </a>
          <a class='social'>
            <span class='entypo-instagrem'></span>
          </a>
        </div>
        <form>
          <p>Contactanos</p>
          <p>315-300-9936</p>
          <p>fabriautomaticassas@hotmail.com</p>
          <p>310-774-0229</p>
          <!-- Botones de retorno -->
          <button class="menu" ><a href="/menu/menu">Volver al menú</a></button>
          
          
        
        </form>
        <!-- Contactos -->
        <p class='other entypo-mail'>
          <a href='#'>fabriautomaticas@hotmail.com</a>
        </p>
        <p class='other entypo-phone'>315-300-9936</p>
      </div>
    </div>
  </div>
  <script src="../../static/Js/Script1.js"></script>
  <!-- Fin de la pagina -->
</body>
</html>