<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTML Masters">
    <title>Insertar Garantías</title>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p> 
{% endfor %}
{% endif %}
{% endwith %}
<body>
    <form action="/garantias/agregar_garantia" method="POST">
        <input type="date" name="fechaGarantia" placeholder="Fecha Garantía">
        <input type="text" name="descripcionGarantia" placeholder="Descripción Garantía">
        <label for="lang">Tipo de Garantía</label>
        <select name="garantia" id="lang">
            <option value="reparaciones">Reparaciones</option>
            <option value="reemplazo">Reemplazo</option>
            <option value="daño">Daño</option>
        </select>
        <button type="submit">
            save
        </button>
    </form>

    <table>
        <thead>
            <tr>
                <td>Fecha garantía</td>
                <td>Descripción Garantía</td>
                <td>Tipo Garantía</td>
                <td>Operations</td>
            </tr>
            <tbody>
                {% for garantia in garantias  %}
                    <tr>
                        <td>{{ garantia.1 }}</td>
                        <td>{{ garantia.2 }}</td>
                        <td>{{ garantia.3  }}</td>
                        <td>
                            <a href="/garantias/editar_garantia/{{garantia.0}}">Editar</a>
                            <a href="/garantias/eliminar_garantia/{{garantia.0}}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</body>
</html>