<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTML Masters">
    <title>Insertar Garantías</title>
</head>
<body>
    <form action="/agregar_garantia" method="POST">
        <input type="date" name="fechaGarantia" placeholder="Fecha Garantía">
        <input type="text" name="descripcionGarantia" placeholder="Descripción Garantía">
        <label for="lang">Tipo de Garantía</label>
        <select name="garantia" id="lang">
            <option value="reparaciones">Reparaciones</option>
            <option value="reemplazo">Reemplazo</option>
            <option value="daño">Daño</option>
        </select>
        <button type="submit">
            save
        </button>
    </form>
</body>
</html>