/*
Custom Css
 * Este Custom Css esta metido en una carpeta diferente, debido a que al descargarlo salía así y fue mejor que 
 * Causar un error.
*/


.metric-message {
  min-height: 40px; /* ajusta según lo que veas que quede mejor */
  display: flex;
  align-items: center;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 700px; /* O ajusta como prefieras */
  margin: 0 auto;
}

canvas#chartCanvas {
  width: 100% !important;
  height: auto !important;
}

.boton {
  background-color: green;
  color: white;
}