@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
/*   padding: 0; */
  margin: 5px;
  box-sizing: border-box;
  text-decoration: none;
/*   font:  14px/40px arial; */
}
body{
  height: fit-content;
  width: 100%;
  font-family: 'Muli';
  
}
.form_page{
background: linear-gradient(#000, #720505);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	overflow: hidden;
	min-height: 100vh;
  width: 100%;
  color: #000;
}

.contact-container {
	background-color:#fff;
	border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #720505,#000) 1;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 70px;
  margin:50px 0;
	text-align: center;
	width: 600px;
	max-width: 100%;
}
.contact-container form {
	width: 450px;
	max-width: 100%;
}

.contact-container .wrapper {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.contact-container .wrapper-big {
	height: 80px;
}

.contact-container input, .contact-container textarea {
  border-color: #720505;
	 border-width: 2px 3px 2px 4px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(1deg);
	font-family: 'Muli';
	font-size: 14px;
	padding: 12px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 10;
}
nav {
    background: linear-gradient(#000, #720505);
  height: 80px; 
  width: 100%;
  }


label.logo{
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul li{
  display: inline-block;
  line-height:80px;
  margin: 0 5px;
}
nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

a.active, a:hover{
  background:#720505
  transition .2s;
}
.checkbtn{
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.about_main{
  display: flex;
  flex-direction: row;
}
 .contact_button {
	position: relative;
	height: 50px;
  margin: 50px 0 50px 10px;
  padding: 8px 30px;
	text-transform: uppercase;
	color: #000;
	border-color:#720505;
  border-width: 2px 3px 2px 4px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(1deg);
	box-shadow: inset 3px 3px 0 rgb(109, 107, 107);
	background-color: #720505;
	overflow: hidden;
	user-select: none;
	outline: none;
}

.contact_button:hover {
  color: #720505;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	box-shadow: inset 3px 3px 0 #fff, 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.contact_button:active {
	box-shadow: none;
	transform: translate(3px, 3px);
	color:white;
	border-color: rgb(165, 19, 19);
}
    #check:checked ~ ul{
        left: 0;
    }



@media(max-width: 952px){
  label.logo{
    font-size:30px;
    padding-left:50px;
  }
  nav ul li a {
    font-size: 36px;
  }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
      padding: 20px 0;
    }
   nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2e3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .2s;
    }
  label.logo{
      padding: 0 10px;
}
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #000000;
    }

    li.lol{
        color: rgb(255, 255, 255);
        font-size: 30px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

  }