/* Cargas válidas de fuentes */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Las siguientes fuentes han sido comentadas porque el servicio ya no está activo */
/* @import url(http://weloveiconfonts.com/api/?family=brandico|entypo); */
/* @import url(http://weloveiconfonts.com/api/?family=entypo); */

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
  padding-right: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background: rgb(194,204,207);
  background: linear-gradient(90deg, rgba(194,204,207,1) 1%, rgba(255,255,255,1) 35%, rgba(194,204,207,1) 100%);
}

h1 {
  text-align: center;
  color: #575757;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#browser {
  margin: 10px auto;
  color: white;
  width: 80%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #394141;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
}
#browser-bar p {
  text-align: center;
}
#browser-bar .circles {
  border-radius: 10px;
  height: 13px;
  width: 13px;
  background: #ff3434;
  float: left;
  margin-left: 7px;
  margin-top: 3px;
}
#browser-bar .circles:nth-of-type(2) {
  background: whitesmoke;
}
#browser-bar .circles:nth-of-type(3) {
  background: grey;
}

.arrow {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 1.2em;
  color: #8e9699;
}

#content {
  background: #454f4f;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left,
#content #right {
  height: 100%;
}
#content #left {
  float: left;
  width: 75%;
  background: none;
}
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #left #map {
  height: 388px;
  position: relative;
  background-color: transparent;
}
@media all and (max-width: 780px) {
  #content #left #map {
    height: 250px;
  }
}
#content #left #map p {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 0.9em;
  font-weight: 600;
}
#content #left #map .zoom {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 2px;
  height: 70px;
  background: white;
}
#content #left #map .zoom:before, #content #left #map .zoom:after {
  text-align: center;
  font-weight: 600;
  position: absolute;
  color: #7bc087;
  background: white;
  width: 20px;
}
#content #left #map .zoom:before {
  content: "+";
  top: -10px;
  right: -8px;
}
#content #left #map .zoom:after {
  content: "-";
  bottom: -10px;
  right: -8px;
}
#content #left #map .map-locator {
  position: absolute;
  top: 158px;
  left: 562px ;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 2px white;
  z-index: 10;
}
#content #left #map .map-locator:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
}
#content #left #map .map-locator .tooltip {
  position: absolute;
  color: #394141;
  left: 50px;
  top: -10px;
  background: white;
  font-size: 0.8em;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #left #map .map-locator .tooltip:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 14px;
  border-right: solid white 10px;
  border-top: solid transparent 8px;
  border-bottom: solid transparent 8px;
}
#content #left #map .map-locator .tooltip [class*="entypo-"] {
  min-width: 25px;
  display: inline-block;
  text-align: center;
  border-right: solid thin #ccc;
  margin-right: 5px;
}
#content #left #map .map-locator .tooltip li {
  border-bottom: solid thin #ccc;
  padding: 10px;
  white-space: nowrap;
}
#content #left #map .map-locator .tooltip li a {
  color: #51b2d6;
}
#content #left #map .map-locator .tooltip li:hover [class*="entypo-"] {
  color: #51b2d6;
}
#content #left ul#location-bar {
  width: 100%;
  text-align: center;
  display: table;
}
#content #left ul#location-bar li {
  display: table-cell;
  padding: 15px;
  background: rgb(133, 127, 127);
  border-right: solid thin #951e1e;
}
#content #left ul#location-bar li:last-of-type {
  border-right: 0;
}
#content #left ul#location-bar li:hover {
  background: grey;
}
#content #left ul#location-bar .active {
  background: grey;
}
#content #right {
  float: left;
  width: 25%;
  background: #454f4f;
  font-size: 0.75em;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
  text-transform: uppercase;
}
#content #right a:hover {
  color: #c2c2c2;
}
#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  transition: transform 0.2s;
}
#content #right .social:hover {
  transform: scale(1.2);
  color: #951e1e;
}
#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}
#content #right form input,
#content #right form textarea {
  background: #f2f2f2;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  padding: 10px;
}
#content #right form input:focus,
#content #right form textarea:focus {
  outline: none;
  border-color: #951e1e;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.63);
}
#content #right form input[type="submit"],
#content #right form textarea[type="submit"] {
  text-transform: uppercase;
  background: #951e1e;
  width: 50%;
  color: white;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#content #right form input[type="submit"]:hover,
#content #right form textarea[type="submit"]:hover {
  background-color: #951e1e;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type="textarea"],
#content #right form textarea[type="textarea"] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  font-size: 0.7em; /* Corregido aquí */
  margin-bottom: 5px;
  text-transform: lowercase;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}
#left2 {
  text-align: center;
  display: table;
}
.menu, .insert {
  background-color: #a72222;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu:hover, .insert:hover {
  background-color: #951e1e;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

/* --- MODAL para Suba Rincón --- */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  color: #333;
}
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #000;
}
.suba-link {
  cursor: pointer;
  color: #951e1e;
  text-decoration: underline;
}
.suba-link:hover {
  color: #000000;
}

.ubicacion-link {
  cursor: pointer;
  color:  #951e1e;
  text-decoration: none;
}

.ubicacion-link:hover {
  color: #951e1e;
}

form a i {
  margin-right: 8px;
  color: #25d366; /* color típico de WhatsApp */
}

form a[href^="mailto:"] i {
  color: #951e1e; 
}

.carousel-container {
  width: 80%;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.carousel-track {
  display: flex;
  animation: scroll 5s linear infinite;
  width: calc((300px + 10px) * 8); /* 8 imágenes de 300px + 10px de separación */
}

.carousel-track img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
}

/* Movimiento continuo */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
