html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.image-container {
  text-align: center; 
}

.image-container img {
  display: block;
  margin: 0 auto; 
  max-width: 200px;
}


.image-container {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

.image-container img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}


h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(216, 14, 14);
  }

  /* Comandos para centar */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 10vh;
}

.button {
  background-color: #fa0435;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #800020;
}


#templatemo_footer .container{
    max-width: 1320px !important;
    width: 100% !important;
}

#templatemo_footer .row{
    display: flex !important;
    flex-wrap: wrap !important;
}

#templatemo_footer .col-md-4{
    width: 33.333333% !important;
}