<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fabriautomaticas SAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../static/Img/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/Img/logo.png">

    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/templatemo.css">
    <link rel="stylesheet" href="../../static/assets/css/custom.css">
    <link rel="stylesheet" href="../../static/css/menu.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/assets/css/fontawesome.min.css">

</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none">fabriautomaticas@hotmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none">315-300-9936</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                            class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/fabriautomaticas/?hl=es" target="_blank"><i
                            class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i
                            class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

     <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                <img src="../../static/img/logo.png" class="imagenfabri">
                Fabriautomaticas SAS
            </a>

            <button class="navbar-toggler border-10" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-5 mb-23 col-14 col-sm-auto pr-7">
                        <div class="input-group">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar align-self-center d-flex flex-column text-center">
                <i class="fa fa-fw fa-user text-login" style="margin-bottom: 2px; font-size: 1.3rem;"></i>
                <a href="/" class="text-decoration-none " style="margin-left: -500px; margin-top: 10px;">
                    <span class="text-success ">Volver al menú</span>
                </a>
                <a href="/login/login" class="text-decoration-none">
                    <span class="text-login badge rounded-pill bg-light px-3 py-2">Iniciar Sesión</span>
                </a>
            </div>
        </div>

        </div>
    </nav>
    <!-- Close Header -->

    </div>
    </nav>
    <!-- Close Header -->

        <h1 class="weWorks text-success">Nuestros Trabajos</h1>
    
    <div class="portfolio-gallery" style="margin-bottom: 30px;">
        <!-- Item 1 -->
        <div class="portfolio-item">
            <img src="../../static/img/IMG-20250707-WA0018.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>
        
        <!-- Item 2 -->
        <div class="portfolio-item">
            <img src="../../static/img/IMG-20250707-WA0019.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>
        
        <!-- Item 3 -->
        <div class="portfolio-item">
            <img src="../../static/img/IMG-20250707-WA0020.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>
        
        <!-- Item 4 -->
        <div class="portfolio-item">
            <img src="../../static/img/IMG-20250707-WA0021.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 5 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/Imagen de WhatsApp 2025-07-22 a las 16.32.17_4fe991a8.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 6 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/Imagen de WhatsApp 2025-07-22 a las 16.32.37_19d3aadb.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 7 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/Imagen de WhatsApp 2025-07-22 a las 16.33.59_0774521a.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 8 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0006.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 9 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0007.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 10 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0008.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 11 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0009.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Item 12 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0010.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 13 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0011.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 14 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0013.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 15 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0015.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 16 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0017.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 17 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0018.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 18 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0019.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 19 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0021.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        
        <!-- Item 20 -->
        <div class="portfolio-item">
            <img src="../../static/img/imgWhats/IMG-20250722-WA0010.jpg" alt="Nuestros trabajos">
            <div class="portfolio-info">
            </div>
        </div>

        <!-- Video integrado -->
        <!-- Video con autoplay (nuevo) -->
        <div class="portfolio-video">
            <div class="video-container">
                <video autoplay muted loop playsinline>
                    <source src="../../static/img/VID-20250707-WA0005.mp4" type="video/mp4">
                    Tu navegador no soporta el video.
                </video>
            </div>
        </div>       
        <!-- Añade más items según necesites -->
    </div>


    <!-- Start Footer -->
    <footer class="bg-dark" style="margin-bottom: -25px;" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Fabriautomaticas SAS</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            <a class="text-decoration-none"
                                href="https://www.google.com/maps/search/?api=1&query=Cll+129+C+%2398+a+09"
                                target="_blank">
                                Cll 129 C #98 a 09
                            </a>
                        </li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="https://wa.me/573107740229"
                            target="_blank">315-300-9936</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none"
                                href="mailto:fabriautomaticassas@hotmail.com">fabriautomaticas@hotmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Productos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Motores</a></li>
                        <li><a class="text-decoration-none" href="#">Brazos Mecánicos</a></li>
                        <li><a class="text-decoration-none" href="#">Talanqueras</a></li>
                    </ul>

                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Navega através de esta</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none"
                                href="/contactanosnotclient/contactanosnotclient">Contactanos</a></li>
                        <li>
                            {% if 'usuario' in session %}
                            <!-- Si ha iniciado sesión, se muestra el link a la garantía -->
                            <a class="text-decoration-none" id="linkReseñas"
                                href="/servicio/insertar_reseña">Reseñas</a>
                            {% else %}
                            <!-- Si NO ha iniciado sesión, muestra un botón que activa el toast -->
                            <a href="#" class="text-decoration-none" onclick="mostrarReseña()">Reseñas</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if 'usuario' in session %}
                            <!-- Si ha iniciado sesión, se muestra el link a la garantía -->
                            <a class="text-decoration-none" id="linkGarantia"
                                href="/garantia/insertar_garantia">Garantías</a>
                            {% else %}
                            <!-- Si NO ha iniciado sesión, muestra un botón que activa el toast -->
                            <a href="#" class="text-decoration-none" onclick="mostrarToast()">Garantías</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.facebook.com/profile.php?id=100059976041448"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.instagram.com/fabriautomaticas/?hl=es"><i
                                    class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.linkedin.com/in/fabriautomaticas/"><i
                                    class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="w-100 bg-black py-3">
                    <div class="container">
                        <div class="row pt-2">
                            <div class="col-12">
                                <p class="text-left text-light">
                                    <a rel="sponsored" href="/terminos/terminos" target="_blank">Terminos y
                                        condiciones</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

    </footer>
    <!-- End Footer -->



    <!--RESEÑAS MENSAJE EMERGENTE-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="alertaReseña" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Aviso</strong>
                <button type="button" class="btn-close btn-close-success" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Para ingresar una reseña, debes iniciar sesión...
            </div>
        </div>
    </div>
    <!--GARANTIAS MENSAJE EMERGENTE-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="alertaGarantia" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Aviso</strong>
                <button type="button" class="btn-close btn-close-success" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Para ingresar una garantía, debes iniciar sesión...
            </div>
        </div>
    </div>

     <!-- Start Script -->
    <script src="../../static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/js/templatemo.js"></script>
    <script src="../../static/assets/js/custom.js"></script>


    <!--Script para ver si la persona inicio o no sesion-->

    <!--Reseñas-->

    <script>
        function mostrarReseña() {
            const toastElement = document.getElementById('alertaReseña');
            const toast = new bootstrap.Toast(toastElement);
            toast.show();

            // Redirige a login después de 2 segundos (opcional)
            setTimeout(() => {
                window.location.href = "/login/login";
            }, 2000);
        }
    </script>

    <script>
        document.getElementById('linkReseñas').addEventListener('click', function (e) {
            e.preventDefault(); // Detiene la navegación temporalmente

            // Muestra el toast
            const toast = new bootstrap.Toast(document.getElementById('alertaReseña'));
            toast.show();

            // Redirige después de 5 segundos
            setTimeout(() => {
                window.location.href = this.href;
            }, 5000);
        });
    </script>



    <!--Garantias-->
    <script>
        function mostrarToast() {
            const toastElement = document.getElementById('alertaGarantia');
            const toast = new bootstrap.Toast(toastElement);
            toast.show();

            // Redirige a login después de 2 segundos (opcional)
            setTimeout(() => {
                window.location.href = "/login/login";
            }, 2000);
        }
    </script>

    <script>
        document.getElementById('linkGarantia').addEventListener('click', function (e) {
            e.preventDefault(); // Detiene la navegación temporalmente

            // Muestra el toast
            const toast = new bootstrap.Toast(document.getElementById('alertaGarantia'));
            toast.show();

            // Redirige después de 5 segundos
            setTimeout(() => {
                window.location.href = this.href;
            }, 5000);
        });
    </script>

    <script>
        // Efecto de aparición al hacer scroll
        document.addEventListener('DOMContentLoaded', () => {
            const items = document.querySelectorAll('.portfolio-item');
            
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.style.opacity = 1;
                    }
                });
            }, { threshold: 0.1 });
            
            items.forEach(item => {
                observer.observe(item);
            });
        });
    </script>

    <!-- End Script -->
    <!-- End Script -->
</body>
</html>