<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/termsAndConditions.css">
    <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="../../static/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/css/templatemo.css">
  <link rel="stylesheet" href="../../static/assets/css/custom.css">
  <link rel="shortcut icon" type="image/x-icon" href="../../static/Img/logo.png">
  <link rel="stylesheet" type="text/css" href="tuarchivo.css">
    <title>Servicios</title>
    <header>
        <div class="header-content">
            <figure class="image-container"> 
                <img src="../../static/img/logo.png" alt="Logo">
            </figure>
            <h1>
                Terminos y condiciones
                <br>
                 Fabriautomaticas sas
            </h1>
        </div>
    </header>
    <section>
        <div>
            <article id="ahorro">

                        <div>
                            <br>
                            <h3>Terminos Generales</h3>
                            <p>
                               Al acceder y realizar un pedido con Fabriautomaticas sas, usted confirma que esta deacuerdo y sujeto a los términos
                               de servicio contenidos en los Términos y condiciones que se describen a continuación.
                               Estos términos se aplican a todo sitio web y a cualquier correo electronico 
                               u otro tipo de comunicación entre usted y Fabriautomaticas sas.
                            </p>
                        <div>
                            <br>
                            <h3>Condiciones</h3>
                            <p>
                                Bajo ninguna circunstancia el equpo de Fatitiautomaticas sas será responsable de ningún daño directo, 
                                indirecto, especial incidental o consecuente que incluye entre otros ta pérdida de datos o ganancias que surjan del
                                 uso o la incapacidad de usar los materiales de este sto incluso si el equipo de Fabriautomaticas sas o un representante autorizado han sido informados de la posibilidad de tales daños Sr su uso de materialos de este sitio resoltiren la necesidad de servicio reparación 
                                o corrección de equipos o datos, usted asume los costos de los mismos
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Responsabilidad</h3>
                            <p>
                                Fabriautomaticas sas no serà responsable de ningun resultado que pueda ocurrir durante el 
                                curso del uso de nuestros recursos Nos reservamos el derecho de cambiar los precios y revisar la 
                                politica do uso do recursos on cualquier momento
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Nuestros Servicios</h3>
                            <p>
                                El aplicativo web del servivio post-venta y gestión de garantias ofrece servicios de atencion a cualquier tipo de usuarios que deseen chequear, consultar y comprar el estado de las puertas automaticas que previamente compraron, tambien ofresemos, un sistema de seguridad 
                                donde se garantiza la gestión de estas garantias, y los servicio que vienen con la garantia desde su respectivo mantenimiento hasta una reparación externa. 
                                Al utilizar nuestros servicios, usted acepta cumplir con nuestros términos y condiciones.
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Metodos De Pago</h3>
                            <p>
                                Los servicios prestados y reservados, deben ser pagados en el momento del servicio y un 50% de apartado(no se aceptan negociaciones). Aceptamos efectivo, tarjetas de crédito y débito, se aseptan pagos de forma digital(Nequi,Daviplata,etc.). 
                                Si es necesario realizar pagos en cuotas, se aplicarán cargos adicionales.
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Cancelaciones De Las Citas</h3>
                            <p>
                                Si necesita cancelar una cita con nosotros, háganoslo saber con al menos 24 horas de anticipación. Si no cancela con anticipación, se le puede cobrar una tarifa de cancelación.
                                El aplicativo web del servicio post-venta y gestión de garantias no asepta quejas por no hacer una previa cancelacion, Si desea, se puede comunicar a los diferentes medios de contacto que ofrece el aplicativo.
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Privacidad</h3>
                            <p>
                                Respetamos su privacidad, debido a lo importante que es para nosostros. No compartiremos su información personal con terceros, para evitar malos entendidos con nuestros clientes,
                                así mismo manejaremos un perfil profecional bajo las politicas de privacidad que maneja el contrato fimado.
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Ley aplicable</h3>
                            <p>
                                Estos términos y condiciones están sujetos a las leyes de Análisis y diagnóstico de la figura jurídica de las Asociaciones Público Privadas -APP- como mecanismo de identificación y estructuración de proyectos TIC 
                                incluidos aquellos con componentes CTeI y su aplicación a nivel regional en Colombia. En el que se encuentra nuestra organización.
                                Cualquier disputa será resuelta por los tribunales de dicha jurisdicción.
                            </p>
                        </div>
                        <div>
                            <br>
                            <h3>Modificaciones</h3>
                            <p>
                                Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso.
                                Al utilizar nuestros servicios, usted acepta estar sujeto a las últimas versiones de nuestros términos y condiciones.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- boton para volver -->
<div class="button-container">
    <button class="button" id="menu-button">Volver al Menú Principal</button>
  </div>
     <!-- Start Footer -->
 <br>
 <footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">Fabriautomaticas SAS</h2> 
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            Cll 129 C #98 a 09
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none">315-300-9936</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none">fabriautomaticas@hotmail.com</a>
          </li>
        </ul>
        </p>
      </div>
    </div>
  </div>

<!-- para el copy -->
<script type="text/javascript">
    copyright = new Date();
    update = copyright.getFullYear();
    document.write('<span style="color: red;">© 2023 - ' + update + ' Fabriautomaticas sas</span>');
</script>

</footer>
<!-- End Footer -->
<script>
    document.getElementById("menu-button").addEventListener("click", function() {
        window.location.href = "/menu/menu"; // Reemplaza "url-del-menu-principal.html" con la URL real de tu página principal
    });
</script>  

</body>
</html>